---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
//import Content from '../components/Content.astro';
import Card from '../components/Products/Card.astro';
import Exmaple from '../components/Products/example.astro';
import Social from '../components/Social.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Manos Magicas | Catalogo de Productos">
	<Header />
	<button>
		<a href="./Portada.astro">Portada</a>
	</button>
	<!-- <Content /> -->
	<!-- <Card /> -->
	<Exmaple />
	<!-- <Social /> -->
	<Footer />
</Layout>
