---
// import Social from "./Social.astro";

import Social from '../components/Social.astro';
---

<footer class="w-full p-4 text-center mx-auto bg-purple-800/70">
    <p class="font-semibold text-lg text-slate-100">Mercadotecnia - Integrantes:</p>
    <ul>
        <Social />
    </ul>
    <ul class="grid grid-cols-2 text-slate-100/70 font-semibold">
        <li>Fulano 1</li>
        <li>Fulano 2</li>
        <li>Fulano 3</li>
        <li>Fulano 4</li>
    </ul>
</footer>