---
import Social from '../components/Social.astro';
---

<footer class="w-full p-4 text-center mx-auto bg-blue-800/95">
    <p class="font-semibold text-lg text-slate-100">Mercadotecnia - Integrantes:</p>
    <ul>
        <Social />
    </ul>
    <ul class="grid grid-cols-2 text-slate-100/70 font-semibold">
        <li>Estefania Amador</li>
        <li>Fátima Cerecedo</li>
        <li>Uriel Cerecedo</li>
        <li>Andrea Monroy</li>
    </ul>
</footer>