<header class="p-2 grid grid-cols-2 items-center bg-purple-800/70 w-full">
  <article>
    <img src="/logo.jpg" alt="logo" class="w-1/4 rounded-md m-auto" />
  </article>
  <article class="text-center">
    <h1 class="text-white/95 text-4xl font-bold">Catálogo de Productos.</h1>
    <br>
    <strong class="text-white/85">"Creados para jugar y diseñados para sonreir".</strong>
  </article>
</header>
