<header class="p-2 flex justify-around items-center m-auto bg-slate-400/5">
  <section class="p-2">
    <img src="" alt="logo" />
  </section>
  <section class="p-2">
    <h1 class="m-4 p-2 text-2xl font-semibold text-purple-400">Catalogo de Productos.</h1>
    <!-- <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/blog">Blog</a>
    </nav> -->
  </section>
</header>
