<section class="m-2">
  <ul class="w-1/2 grid grid-cols-2 m-auto p-4">
    <article class="m-auto">
      <a href="">
        <img src="./icons/facebook.png" alt="Facebook Icon" class="w-1/2  md:w-1/6 "/>
      </a>
    </article>
    <article class="m-auto">
      <a href="#">
        <img src="./icons/instagram.png" alt="Instagram Icon" class="w-1/2  md:w-1/6"/>
      </a>
    </article>
  </ul>
</section>
