<section class="m-2">
  <ul class="w-12 grid grid-cols-2 m-auto">
    <img src="./icons/facebook.svg" alt="Facebook Icon" />
    <img src="./icons/instagram.svg" alt="Instagram Icon" />
  </ul>
</section>
